.bg-dod-blue {
  background-color: #004a7d
}

.dod-hero-text {
  font-family: "Times New Roman";
  font-size: 74px;
  font-weight: bold;
  line-height: 65px;
  letter-spacing: -2px;
}

.card-width {
  width: 320px !important;
}

.max-width {
	max-width: 1156px;
	margin: 0 auto;
}
